<div class="center hero-unit">
	<h1>Admin App</h1>
	<h2>
  	This is the home page for the Admin application.
	</h2>
	<h4>Sign up to become a user</h4>
	<%= link_to "Sign Up now!", 'signup', class: "btn btn-large btn-primary" %>
</br></br></br>
	Are you an admin? <%= link_to "Sign in", 'signin', class: "btn btn-small" %>
</div>
	